<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Fingerprint Matcher</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <div class="background-overlay"></div>
        <div class="container">
            <h1>SO KHỚP DẤU VÂN TAY</h1>
            <form action="/match" method="post" enctype="multipart/form-data">
                <div class="file-input-container">
                    <input
                        type="file"
                        name="file"
                        id="fileInput"
                        accept=".png,.jpg,.jpeg"
                        required
                    />
                    <label for="fileInput" id="fileLabel">Chọn ảnh</label>
                </div>
                <button type="submit">So khớp</button>
                <div id="fileName" class="file-name"></div>
            </form>
        </div>

        <script>
            document.getElementById('fileInput').addEventListener('change', function() {
                const fileName = this.files[0] ? this.files[0].name : 'Không có file nào được chọn';
                document.getElementById('fileName').textContent = fileName;
                document.getElementById('fileName').style.display = 'block';
                
                // Thay đổi lớp CSS của label khi đã chọn file
                document.getElementById('fileLabel').classList.add('file-selected');
            });
        </script>
    </body>
</html>
